<h1>Welcome to The Charity Hub!</h1>

<h3><%= link_to "Add a charity", new_charity_path, remote: true, :id => "add_a_charity" %></h3>

<div>
  <ul id="charity_list">
    <%= render(@charities) %>
  </ul>
</div>
